{% extends 'main.html' %}

{% load static %}

{% block head_link %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/cursor_pointer.css' %}">
{% endblock head_link %}

{% block content %}

{% if message %}
<div class="alert alert-warning" role="alert">
    {{message}}
</div>
{% endif %}
<div class="container py-3">
    <h1 class='text-center'>History cart</h1>
</div>
<div class="container py-3">
    <form method='POST'>
    {% csrf_token %}
    <table class="table table-striped table-bordered">
        <thead class="text-center">
          <tr class="bg-primary">
            <th width="8%">#</th>
            <th width="20%">Name</th>
            <th width="30%">Image</th>
            <th width="12%">Number</th>
            <th width="10%">Price</th>
            <th width="10%">Select</th>
            <th width="10%">Action</th>
          </tr>
        </thead>
        <tbody class="text-center">
        {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
        {% if products %}
        {% for product in products %}
        <tr>
            <td>
                {{product.id}}
            </td>
            <td>
                {{product.product_id.name}}
            </td>
            <td>
                <img class="mg-thumbnail cart_img" src="/media/{{product.product_id.image}}" alt="">
            </td>
            <td>
                <div class="d-flex">
                    {% if product.number == 1 %}
                    <button type="button" class="btn btn-light not-allowed" id="left_button{{product.id}}" onClick="left_button({{product.id}})">
                    {% else %}
                    <button type="button" class="btn btn-light" id="left_button{{product.id}}" onClick="left_button({{product.id}})">
                    {% endif %}
                    <i class="fa-solid fa-minus"></i>
                    </button>

                    <input readonly type="text" class="text-center input_num mx-2 not-allowed" id="number{{product.id}}" name='number{{product.id}}' value="{{product.number}}" max-value="{{product.product_id.number}}">
                    
                    {% if product.number == product.product_id.number %}
                    <button type="button" class="btn btn-light not-allowed" id="right_button{{product.id}}" onClick="right_button({{product.id}})">
                    {% else %}
                    <button type="button" class="btn btn-light" id="right_button{{product.id}}" onClick="right_button({{product.id}})">
                    {% endif %}
                    <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </td>
            <td>
                {{product.product_id.price}}
            </td>
            <td>
                <input class="text-center icon_size" type="checkbox" name="select_product" value="{{product.id}}" number="{{product.number}}" max-number="{{product.product_id.number}}" style="width: 25px; height: 25px;">
                
            </td>
            <td>
                {% comment %} <a href="{% url 'cart_edit' id=product.id %}"> {% endcomment %}
                {% comment %} <a href="{% url 'cart_edit' id=product.id %}"> {% endcomment %}
                {% comment %} {% if request.user.is_authenticated %}
                <a href="{% url 'cart_edit' id=product.id number=product.number %} ">
                    <i class="fa-solid fa-pen-to-square pe-2"></i>
                </a>
                {% endif %} {% endcomment %}
                <a type="button" class="btn btn-danger" id="product-delete-{{product.id}}" href="{% url 'cart_delete' id=product.id %}">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td class="text-center" colspan="7">No entry!</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <div class="d-flex py-2">
        <strong class="pe-3" style="margin: auto 0">Buy selected products</strong>
        <button class="btn btn-primary" type="button" onClick="order_view(
                                                                {% if request.user.is_authenticated %}
                                                                1,
                                                                {% else %}
                                                                0,
                                                                {% endif %}
                                                                '{% url 'order_view' %}'
                                                            )">
            Buy 
            <i class="fa-solid fa-cart-shopping"></i>
        </button>
    </div>
    </form>
</div>
{% endblock content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
{% block js_link %}
    {% load static %}
    <script src="{% static 'js/edit_carts.js' %}"></script>
    <script>
        {% for product in products %}
        document.getElementById("product-delete-{{product.id}}").addEventListener("click", function(event) {
            event.preventDefault();
            let href = this.getAttribute("href");
            let result = confirm("You want delete this product in cart?");
            if (result) {
                window.location.href = href;
            }
          });
        {% endfor %}
    </script>
{% endblock js_link %}
