{% extends 'main.html' %}

{% load static %}

{% block head_link %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/cursor_pointer.css' %}">
<link rel="stylesheet" href="{% static 'css/products_show.css' %}">
<link rel="stylesheet" href="{% static 'css/product_pagination.css' %}">
{% endblock head_link %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="categories">
                {% comment %} <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item text-center" href="/products/product_category/1">
                            <strong>Home</strong>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/products/product_category/1"><strong>Action</strong></a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li> {% endcomment %}
            </ul>
        </div>
    </div>
</nav>

<div class="position-relative py-3">
    <div class="container">
    <div class="row">
        <div class="col-8">
            <div class="d-flex">
                    <h5 class="w-25 d-flex align-items-center text-center">Choose of field:</h2>
                    <select class="w-25 form-select" name="field" id="field">
                        {% for field in fields %}
                            {% if field == sort_field %}
                            <option value="{{field}}" selected>{{field}}</option>
                            {% else %}
                            <option value="{{field}}">{{field}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="d-flex align-items-center px-3">
                        <div class="form-check pe-2">
                            {% if sort_name == 'asc' %}
                            <input class="form-check-input" type="radio" name="sort" id="asc" value="asc" checked>
                            {% else %}
                            <input class="form-check-input" type="radio" name="sort" id="asc" value="asc">
                            {% endif %}
                            <label class="form-check-label" for="asc">
                                <i class="fa-solid fa-arrow-down-short-wide"></i>
                                asc
                            </label>
                        </div>
                        <div class="form-check">
                            {% if sort_name == 'desc' %}
                            <input class="form-check-input" type="radio" name="sort" id="desc" value="desc" checked>
                            {% else %}
                            <input class="form-check-input" type="radio" name="sort" id="desc" value="desc">
                            {% endif %}
                            <label class="form-check-label" for="desc">
                                <i class="fa-solid fa-arrow-down-wide-short"></i>
                                desc
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex">
                    <form class="input-group mb-3" id="search_product_name">
                        {% if search_token %}
                            <input id="search_product" type="search" class="form-control" placeholder="Search" value="{{ search_token }}"/>
                        {% else %}
                            <input id="search_product" type="search" class="form-control" placeholder="Search"/>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    <h1 class="text-center py-3">List product</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="show_product">
        {% if products.count %}
        {% for product in products %}
        <div class="col">
            <div class="card shadow-sm">
                <img class="img-thumbnail view_img" src="/media/{{product.image}}" alt="">   
                <div class="card-body">
                    <h3 class="card-text text-center">{{product.name}}</h3>
                    <h5 class="card-text text-center">Total product: {{product.number}}</h5>
                    <h5 class="card-text text-center">Price: {{product.price}}$</h5>
                    <h5 class="card-text text-center">Producer: {{product.producer}}</h5>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'product_detail' id=product.id%} ">
                                <button class="btn btn-sm btn-outline-secondary mx-1">View detail</button>
                            </a>
                            <button class="btn btn-sm btn-outline-secondary mx-1" id="product{{product.id}}" onClick="add_cart(
                                                                                                            '{{product.id}}',
                                                                                                            '{{product.image}}',
                                                                                                            '{{product.name}}',
                                                                                                            '{{product.number}}',
                                                                                                            '{{product.price}}',
                                                                                                            '{{product.describe}}',
                                                                                                            '{{product.producer}}',
                                                                                                            '{% url 'add_cart' %}'
                                                                                                            )">
                                Buy now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center w-100">No entry!</p>
        {% endif %}
        
    </div>
    <div class="container ">
        <ul class="d-flex justify-content-center p-3" id="pagination">
        </ul>
    </div>
    </div>
    <div id="showform"></div>
</div>
{% endblock content%}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
{% block js_link %}
    {% load static %}
    <script src="{% static 'js/cartt.js' %}"></script>
    <script src="{% static 'js/show_product.js' %}"></script>
    {% comment %} <script src="{% static 'js/but_control.js' %}"></script> {% endcomment %}
    <script>
        {% comment %} let products = []; {% endcomment %}
        let categories = []
        {% comment %} {% for product in products %}
            product = {};
            product.id = {{product.id}};
            product.name = '{{product.name}}';
            product.number = {{product.number}};
            product.price = {{product.price}};
            product.describe = '{{product.describe}}';
            product.producer = '{{product.producer}}';
            product.image = '{{product.image}}';
            product.category_id = {{product.category_id.id}};
            product.url_product_detail = "{% url 'product_detail' id=product.id%}"
            products.push(product);
        {% endfor %} {% endcomment %}
        {% for category in categories %}
            category = {};
            category.id = {{category.id}};
            category.name = '{{category.name}}';
            {% comment %} category.path = '{{category.path}}';
            category.path_length = {{category.path_length}}; {% endcomment %}
            category.level = '{{category.level}}';
            category.parent_id = '{{category.parent_id}}';
            category.url = "{% url 'product_categories' id=category.id %}";
            category.list = [];
            categories.push(category);
        {% endfor %}

        {% comment %} console.log(products); {% endcomment %}
        {% comment %} window.products = products {% endcomment %}
        window.categories = categories
        window.page_current = {{page_current}}
        window.page_count = {{page_count}}
        window.search_product = "{{search_token}}"
    </script>
{% endblock js_link %}


