{% extends 'main.html' %}

{% load static %}

{% block head_link %}
<link rel="stylesheet" href="{% static 'css/login_form.css' %}">
{% endblock head_link %}

{% block content %}
<section style="background-image: url('{% static 'image/background_login.jpg' %}'); height: calc(100vh - 3.5rem);">
  <div class="container pt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem; opacity: 0.8;">
          <div class="card-body p-5">

            <div class="mb-md-5 mt-md-4 pb-5">

              <form class="position-relative" method="POST" id="change_password_form" action="{% url 'change_password' %}">
                {% csrf_token %} 
                <h2 class="fw-bold mb-2 text-uppercase text-center">Change password</h2>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="username">Password old:</label>
                  <input name="password" id="password" type='password' class="form-control form-control-lg"  placeholder="Enter old password" />
                </div>
  
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="password_new" >Password new:</label>
                  <input name="password_new" id="password_new" type="password" class="form-control form-control-lg" placeholder="Enter new password"/>
                </div>
                <div class="form-outline form-white mb-4">
                    <label class="form-label" for="password_new_repeat" >Repeate password new:</label>
                    <input name="password_new_repeat" id="password_new_repeat" type="password" class="form-control form-control-lg" placeholder="Enter repeat password"/>
                  </div>
                  <button class="btn btn-outline-light btn-lg px-5 mx-auto d-block" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block js_link %}
<script>
    {% if error %}
    alert("Your current password doesn't valid");
    {% endif %}
    let change_password_form = document.getElementById("change_password_form");
    let password_new = document.getElementById("password_new");
    let password_new_repeat = document.getElementById("password_new_repeat");
    change_password_form.addEventListener("submit", function(event) {
        event.preventDefault(); // Chặn gửi form
        if(password_new.value != password_new_repeat.value) {
            alert("Repeat password doesn't valid");
        }
        else {
            this.submit();
        }
      });
</script>
{% endblock js_link %}
