{% extends 'main.html' %}

{% load static %}

{% block content %}
<section style="background-image: url('{% static 'image/background_register.jpg' %}'); height: calc(100vh+1rem);">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center py-4">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card p-5 bg-dark text-white" style="border-radius: 15px; opacity: 0.8;">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <form method='POST' id="register">
                {% csrf_token %}
                <div class="form-outline mb-4">
                    <label class="form-label" for="name">Your Name</label>
                    <input name='name' type="text" id="name" class="form-control form-control-lg" placeholder="Your Name" />   
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="username">Username</label>
                    <input name='username' type="text" id="username" class="form-control form-control-lg" placeholder="Username"/>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input name='password' type="password" id="password" class="form-control form-control-lg" placeholder="Password"/>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email</label>
                  <input name='email' type="email" id="email" class="form-control form-control-lg" placeholder="Email"/>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="phone">Phone</label>
                    <input name='phone' type="text" id="phone" class="form-control form-control-lg" placeholder="Phone"/>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="address">Address</label>
                    <input name='address' type="text" id="address" class="form-control form-control-lg" placeholder="Address"/>
                </div>
                <div class="form-outline mb-4">
                  <div class="d-flex align-items-center">
                    <h4 class="w-25">Position:</h4>
                    <div class="mx-2">
                      <label class="form-label" for="">Customer</label>
                      <input type="radio" name="position" value="customer" checked>
                    </div>
                    <div class="mx-2">
                      <label class="form-label" for="">Seller</label>
                      <input type="radio" name="position" value="seller">
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

{% endblock content %}
{% block js_link %}
<script>
  {% if error == 1 %}
  alert("You should enter name, username, password, position");
{% endif %}
</script>
{% endblock js_link %}